@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.App {
	overflow-y: hidden;
	height: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	overflow-y: hidden;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	height: 80%;
	overflow-y: hidden;
}
.seta {
	padding-top: 30px;
	display: flex;
	align-items: flex-end;
	padding-bottom: 10%;
	justify-content: center;
	overflow-y: hidden;
}
.seta-animation {
	height: 5vh;
	animation-name: example;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	overflow-y: hidden;
}
#pagina2 {
	overflow-y: hidden;

	background-color: white;
	height: 90%;
	width: 100vw;
	position: absolute;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	padding-top: 30px;
	align-items: center;
	top: 0;
	left: 0;
}
@keyframes example {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 0%;
	}
	75% {
		opacity: 100%;
	}
}
#form {
	overflow-y: hidden;

	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
#standard-basic {
	overflow-y: hidden;

	font-size: 1.35em;
	width: 70vw;
	display: flex;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	color: rgb(78, 78, 78);
}
#form p {
	overflow-y: hidden;

	font-size: 1.4rem;
	padding-top: 30px;
	font-family: 'Open Sans', sans-serif;
}
#pagina3 {
	overflow-y: hidden;

	height: 100%;
	width: 100vw;
	background-color: white;
	position: absolute;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}

#pagina3 img {
	margin-top: 20px;
	overflow-y: hidden;
}
#pagina3 p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-top: 20px;
	width: 80%;
	text-align: center;
	font-size: 0.9rem;
	overflow-y: hidden;
}
.css-1x51dt5-MuiInputBase-input-MuiInput-input {
	text-align: center;
}
.css-i4bv87-MuiSvgIcon-root {
	height: 20vh !important;
	width: 10vw !important;
}
.css-i4bv87-MuiSvgIcon-root:hover {
	background-color: transparent !important;
}
/* #pagina4 #option{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */
#pagina4 {
	overflow-y: hidden;

	height: 100%;
	width: 100vw;
	position: absolute;
	display: flex;
	overflow-y: hidden;
	justify-content: center;
	align-items: center;
}
#pagina4 #left {
	background-color: black;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
}
#pagina4 #right {
	background-color: white;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: center;
	overflow-y: hidden;
}

#pagina3 p {
}
#right .css-i4bv87-MuiSvgIcon-root {
	color: black;
}
#right p {
	color: black;
}
#left .css-i4bv87-MuiSvgIcon-root {
	color: white;
}
#left p {
	color: white;
}
